<div class="container">
  <h1>CV-Generator</h1>
  <p>
    CVs erstellen lassen
  </p>
  <hr />
  <%= link_to "Substantial", generate_single_cv_path %>
  <hr />
  <h1>PDF-Vorschau</h1>
  <p>

  </p>
</div>
