<div class="container-fluid">
  <h1 class="text-center my-4">Tauschbörse</h1>
  <%= render 'skills/search_skill_form' %>
  <%= render 'skills/search_skill_results', users: @users %>
</div>
<div class="container">
  <% unless user_signed_in? %>
    <hr />
    <h1 class="text-center my-4">Mitmachen</h1>
    <p>
      Möchtest du bei der Tauschbörse mitmachen?
    </p>
    <p>
      Dann kannst du dir unten ein Profil erstellen!
      Wenn du schon eines hast, dann kannst du dich einloggen.
    </p>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="border rounded p-3 mb-2">
          <%= render 'users/form_for_user', user: User.new %>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="border rounded p-3 mb-2">
            <%= render 'devise/sessions/new' %>
            <p class="pt-4">
              <strong><u>Zum Ausprobieren:</u></strong>
              <br />
              <strong>e-Mail: </strong>test@gmail.com
              <br />
              <strong>Password: </strong>abcdef
            </p>
        </div>
      </div>
    </div>

  <% end %>

</div>

<div class="m-5">

</div>
