<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Herzlich Willkommen</h1>
      <p class="lead text-muted"> Wie können wir Ihnen helfen?</p>
      <p>
        <%= link_to "Ich bin ein Mentee", mentee_overview_path, class: "btn btn-lg btn-primary my-2", data: {cy: "i_am_mentee"} %>
        <br />
        <%= link_to "Ich bin ein Mentor", workspace_path, class: "btn btn-lg btn-success my-2" %>
      </p>
    </div>
  </div>
</section>
