<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Lebenslauf erstellen</h1>
      <p>
        <strong>Tragen Sie Ihre Daten ein. Mit diesen Daten werden Lebensläufe erstellt.</strong>
      </p>
      <p>
        Wählen Sie den Lebenslauf aus, der Ihnen am besten gefällt?
      </p>
      <p>
        <div class="d-grid gap-3 mx-auto">
          <%= link_to "Ich möchte einen Lebenslauf erstellen", workspace_path, class: "btn btn-lg btn-primary" %>
          <%= link_to "Ich suche einen Mentor oder eine Mentorin", workspace_path, class: "btn btn-lg btn-primary" %>
        </div>
      </p>
      <p>
        <br />
        <%= link_to "Ich suche einen Mentor oder Mentoring", workspace_path, class: "btn btn-lg btn-success my-2" %>
        <br />
      </p>
    </div>
  </div>
</section>
