<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Was möchten Sie tun?</h1>
      <p>
        <div class="d-grid gap-3 mx-auto">
          <%= link_to "Ich möchte einen Lebenslauf erstellen", cv_generator_update_user_for_cv_page_path, class: "btn btn-lg btn-primary" %>
          <%= link_to "Ich suche einen Mentor oder eine Mentorin", workspace_path, class: "btn btn-lg btn-success" %>
        </div>
      </p>
    </div>
  </div>
</section>
