<div class="container">
  <h1 class="text-center">Mein Impulse</h1>
  <%= render 'users/card', user: @user %>

  <h1 class="text-center">Dein Tauschbörse-Profil</h1>
  <%= render 'users/exchange_card', user: @user %>
</div>
