<div class="container">
  <div class="jumbotron bg-white">
    <%#= render 'form', cv_unit: @cv_unit %>
    <%= render 'cv_units/form_for_unit_list', cv_unit: CvUnit.new, category: "education" %>
  </div>
</div>
