<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="mx-auto">
      <h1 class="fw-light">Lebenslauf erstellen</h1>
      <div class="">
        <p class="">
          <ol class="fs-5" style="display: inline-block; text-align: left;">
            <li class="">
                Wählen Sie das CV aus, welches Ihnen am besten gefällt.
              </li>
          </ol>
        </p>
        <p>
          <%= link_to "Lebensläufe aktualisieren", cv_generator_update_user_for_cv_page_path %>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-1 text-center container-fluid">
<hr />
  <% @user.cvs.each do |cv| %>
  <div class="row">
      <div class="col-9">
        <div class="ratio" style="padding-bottom: 141.42%;">
          <iframe  class="embed-responsive-item" src="<%= rails_blob_path(cv.pdf) %>"></iframe>
        </div>
      </div>
      <div class="col-3">
        <h1><%= cv.name.capitalize %></h1>
        <p>ODT:
          <% if cv.odt.attached? %>
            <%= link_to cv.odt.filename, rails_blob_path(cv.odt, disposition: "attachment") %>
          <% else %>
            Fehler - odt-Datei konnte nicht erstellt werden
          <% end %>
        </p>
        <p>
          <%#= Rails.root.join("app", "assets", "images", "compass.jpg").to_s.class %>
          <%#= rails_blob_url(cv.pdf)%>
        </p>
        <%#= link_to cv.odt.filename, rails_blob_path(cv.odt, disposition: "attachment") %></h3>
      </div>
  </div>
  <hr />
  <% end %>
  <hr />
</section>
