<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="mx-auto">
      <h1 class="fw-light">Lebensl채ufe werden erstellt</h1>
      <p>(Das kann eine Weile dauern...) </p>
      <div class="">
        <p class="">
          <ol class="fs-5" style="display: inline-block; text-align: left;">
            <li class="">
                W채hlen Sie das CV aus, welches Ihnen am besten gef채llt.
              </li>
          </ol>
        </p>
        <p>
          <%= link_to "Lebensl채ufe aktualisieren", cv_generator_update_user_for_cv_page_path %>
        </p>
      </div>
    </div>
  </div>
</section>

<section class="py-1 text-center container-fluid">
<hr />
<div class="cvs">

</div>

</section>

<script>
  $( document ).ready(function() {
      console.log( "CV-Generator ready!" );

      var cv_names = ["stats", "orangeblock", "wave", "blueblock", "bubbles", "dotty", "bluetop", "greenblock", "greenleft", "substantial", "bluey", "simple", "classical", "red"]

      cv_names.forEach(function(name, index, array) {
        console.log(name, index);
        generate_cv_and_add_it_to_div(name)
      });

      function generate_cv_and_add_it_to_div(cv_name) {
        $.ajax({
          url: "<%= generate_and_get_single_cv_path %>/" + cv_name,
          method: 'GET',
          headers: {
            'X-CSRF-Token': document.querySelector("meta[name=csrf-token]").content
          }
        }).done(function() {
          console.log("loaded!");
        });
      }

  });
</script>
