<section class="py-5 container">
  <div class="row py-lg-5">
    <div class="mx-auto">
      <div class="text-center">
      <h1 class="fw-light">Lebenslauf erstellen</h1>
        <p class="">
          <ol class="fs-5" style="display: inline-block; text-align: left;">
            <li class="">
                Tragen Sie unten Ihre Daten ein.
              </li>
              <li>
                Wenn Sie fertig sind, drücken Sie auf "Weiter".
              </li>
          </ol>

        </p>
        <% unless user_signed_in? %>
        <p class="fs-6">
            Haben Sie schon ein Profil? <br />
            <%= link_to('Einloggen', new_user_session_path, class: "", data: { cy: "login" }) %>
          </p>
        <% end %>
      </div>
      <div class="text-left">
      <%= render 'users/form_update_user_for_cv', user: current_user unless current_user.blank? %>
      <%= render 'users/form_update_user_for_cv', user: User.new if current_user.blank? %>
      <%#= render 'users/card', user: current_user if current_user.present? %>
    </div>
  </div>
</section>
