<section class="py-3 container">
  <div class="row py-lg-5">
    <div class="mx-auto">
      <div class="text-center">
      <h1 class="fw-light">Lebenslauf erstellen</h1>
      <div class="">
        <p class="">
          <ol class="fs-5" style="display: inline-block; text-align: left;">
            <li class="">
                Tragen Sie unten Ihre Berufserfahrungen, Ausbildungen und Fähigkeiten ein.
              </li>
              <li>
                Wenn Sie fertig sind, drücken Sie auf "<%= t("go_back") %>".
              </li>
          </ol>
        </p>
      </div>
      </div>
      <div class="border rounded p-3">
      <%= render "cv_units/cv_units", user: @user %>
      <p>
        <%= link_to t("go_back"), root_with_user_id_path(@user), class: "btn btn-lg btn-primary", data: {cy: "go_back_button"} %>

        <%#= link_to "Weiter", cv_generator_generate_cvs_path, class: "btn btn-lg btn-primary" %>
        <%#= link_to "Lebensläufe erstellen", cv_generator_loading_screen_path(@user), class: "btn btn-lg btn-primary", data: {cy: "cv_generator_loading_screen_button"} %>
      </p>
      </div>
    </div>

  </div>

</section>
